<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerClass="\OxidEsales\TestingLibrary\Printer"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Component</directory>
            <directory suffix=".php">../Controller</directory>
            <directory suffix=".php">../Core</directory>
            <directory suffix=".php">../Model</directory>
        </whitelist>
    </filter>
</phpunit>
