<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="tbclorder_paypal" cl="oepaypalorder_paypal" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>